---
layout: temp
---
<!doctype html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <meta name="viewport" content="width=640" />
  <link href="/assets/favicon.png?v=2>" rel="icon" sizes="32x32">

  <link href="https://fonts.googleapis.com/css?family=Fira+Mono|Fira+Sans:200,400,400i" rel="stylesheet">
  <link href='/assets/style.css' rel='stylesheet' type='text/css' />
  <title>Codesmith Consulting | Something's Coming Soon...</title>
</head>
<body>
<div class="page {{ page.class }}">


{{ content }}

</div>